div{
    background-image:url("image.png");
    margin-left:100px;
    display:inline-block;
    height:500px;
    width:400px;
    background-repeat: no-repeat;
    padding:40px;
}
#int{

    background-color:rgb(175, 174, 174);
    cursor:pointer;
}
ul{
    list-style-type: none;
}
button{
    cursor:pointer;
}
html{
    background-image:url("background.png");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}